{% extends 'base.html' %}

{% block title %}{{ user.username }}{% endblock %}
{% block content %}
    <div class="profile">
            <h1>{{ user.username }}</h1>
    {% if request.user.is_authenticated %}
        {% if request.user.id == user.id %}
            <a href="{% url 'home:post_create' %}" class="btn btn-primary">New Post</a>
            <a href="{% url 'accounts:edit_profile' user.id %}" class="btn btn-primary">Edit Profile</a>
        {% endif %}
        {% if request.user.id != user.id and not is_following  %}
            <a href="{% url 'accounts:user_follow' user.id %}" class="btn btn-primary">Follow</a>
        {% elif request.user.id != user.id and is_following %}
            <a href="{% url 'accounts:user_unfollow' user.id %}" class="btn btn-primary">Unfollow</a>
        {% endif %}
    </div>
    <div class="card">
        {% for post in posts %}
            <h5>{{ post.author }}</h5>
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            <p class="card-body">{{ post.body|truncatewords:8 }}</p>
            <small>{{ post.updated|timesince}}</small>
            <hr/>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}