{% extends 'base.html' %}

{% block content %}

    {% if post.user.id == request.user.id %}
        <a href="{% url 'home:post_delete' post.id %}" class="btn btn-danger">Delete</a>
        <a href="{% url 'home:post_update' post.id %}" class="btn btn-info">Update</a>
    {% endif %}

    <p><a href="{% url 'accounts:user_profile' post.user.id %}">{{ post.user.username }}</a> - {{ post.updated|date:"M-Y-d-D" }}</p>
    <p>{{ post.body }}</p><hr/>

    <a href="{% url 'home:post_like' post.id %}" class="{% if can_like %}disabled{% endif %} btn btn-primary">Like</a>
    <p>{{ post.like_counts }}</p>

    {% if request.user.is_authenticated %}
        <form action="" method="post">
            {% csrf_token %}
            {{ comments_form.as_p }}
            <input type="submit" value="Send Comment" class="btn btn-primary">
        </form>
    {% else %}
        <a href="{% url 'accounts:user_login' %}" class="btn btn-primary">Login</a>
    {% endif %}

    {% for comment in comments %}
        <p class="card-body">{{ comment.user }} - {{ comment.created|timesince }}</p>
            <p class="card-text">{{ comment.body }}</p>
        {% if request.user.is_authenticated %}
            <form action="{% url 'home:reply_comment' post.id comment.id %}" method="post">
                {% csrf_token %}
                {{ reply_form.as_p }}
                <input type="submit" value="Reply" class="btn btn-primary">
            </form>
        {% endif %}
        {% if request.user.is_authenticated %}
            {% with comment.reply_comments.all as replies %}
                {% for reply in replies %}
                    <p class="bg-primary " >{{ reply.user }}</p><br/><p class="text-muted">{{ reply.body }}</p>
                {% endfor %}
            {% endwith %}
        {% endif %}
    {% empty %}
        <p>No comments yet.</p>
    {% endfor %}


{% endblock %}